# pkg files
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Gradle buildsys
.eclipse/
.gradle/
build/*
!build/libs/
build/libs/*
!build/libs/sousei-1.0-sources.jar
!build/libs/sousei-1.0.jar

# IDE
.idea/
.vscode/
.settings/
*.iml
*.classpath
*.project

# MCreator
.mcreator/
elements/
sousei.mcreator

# Misc / Test run directory
run/
/bin
src/main/resources/data/
src/main/resources/assets/sousei/lang/en_us.json
*.class
*.log

# sys 
.DS_Store
Thumbs.db
/src/main/java/pie/rusty/sousei/world
